<p>header works!</p>
<div class="header">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://lh3.googleusercontent.com/-6ulpsw5ivx8/XeohOlFsJII/AAAAAAAAAA0/TuMfCaHh58EEil6LBIaVZJS77WkMYc8BACK8BGAsYHg/s0/2019-12-06.png" width="150" height="50" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand time" href="#"><img src="https://lh3.googleusercontent.com/-p4vTGvD9yAo/XeopAi1hXzI/AAAAAAAAABE/hMi8I_dYivQG5N7tCWDrH1JvlX3ZIJTjACK8BGAsYHg/s0/2019-12-06.png" /><span class="dateTime">12/5/2019 5:08:01 AM</span></a>
        <a class="navbar-brand admin" href="#"><img src="https://lh3.googleusercontent.com/-le9oYjcttR0/Xeoo_qRiVBI/AAAAAAAAABA/GvDU4FRdv7cFkP2wpseX5r9R-6qdKOL9ACK8BGAsYHg/s0/2019-12-06.png" /></a>
        <span>Admin <br />
          <li style=margin-left:-18px class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rahul Rathor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">User1</a>
              <a class="dropdown-item" href="#">Logout</a>

            </div>
          </li>
        </span>

      </form>
    </div>
  </nav>
</div>
