<div id="main">
  <div class="heading"><h4>Resource Management System</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/admin_icon.png" alt="admin">
        <div class="caption">Admin</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/resource_icon.png" alt="resource">
        <div class="caption">Resource</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/projects_icon.png" alt="projects">
        <div class="caption">Projects</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/report_icon.png" alt="report">
        <div class="caption">Report</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/performance_icon.png" alt="performance">
        <div class="caption">Performance</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/search_icon.png" alt="search">
        <div class="caption">Search</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/search_resume_icon.png" alt="search resume">
        <div class="caption">Search Resume</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/archive_icon.png" alt="archive">
        <div class="caption">Archive</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/user_activity_icon.png" alt="user activity">
        <div class="caption">Activity</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2 dashboard">
        <img src="../../../../assets/dashboard/settings_icon.png" alt="settings">
        <div class="caption">Settings</div>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-5 banner">
            <img src="../../../../assets/dashboard/anniversary.png" alt="anniversary">
        </div>
        <div class="col-xs-12 col-lg-5 banner">
            <img src="../../../../assets/dashboard/birthday.png" alt="birthday">
        </div>
      </div>
  </div>
</div>

