<div class="main">
  <div class="header">Resource Management Sysytem</div>
  <div class="container">

    <div class="row justify-content-center menu">
      <li><img src="../../../../assets/dashboard/admin_icon.png" alt="admin"><div class="caption">ADMIN</div></li>
      <li><img src="../../../../assets/dashboard/resource_icon.png" alt="admin"><div class="caption">RESOURCE</div></li>
      <li><img src="../../../../assets/dashboard/projects_icon.png" alt="admin"><div class="caption">PROJECTS</div></li>
      <li><img src="../../../../assets/dashboard/report_icon.png" alt="admin" height="55px"><div class="caption">REPORT</div></li>
      <li><img src="../../../../assets/dashboard/performance_icon.png" alt="admin" height="55px"><div class="caption">PERFORMANCE</div></li>
      <li><img src="../../../../assets/dashboard/search_icon.png" alt="admin"><div class="caption">SEARCH</div></li>
      <li><img src="../../../../assets/dashboard/search_resume_icon.png" alt="admin"><div class="caption">SEARCH RESUME</div></li>
      <li><img src="../../../../assets/dashboard/archive_icon.png" alt="admin"><div class="caption">ARCHIVE</div></li>
      <li><img src="../../../../assets/dashboard/user_activity_icon.png" alt="admin"><div class="caption">USER ACTIVITY</div></li>
      <li><img src="../../../../assets/dashboard/settings_icon.png" alt="admin"><div class="caption">SETTINGS</div></li>
    </div>
    <div class="row justify-content-center menu2">

      <div class="para1"><img src="../../../../assets/dashboard/birthday.png" alt="birthday" class="img-responsive responsive"><div class="bannerHeader">TODAY'S BIRTHDAY (3)</div><div class="text1">Satvinder Singh <br><a href="">Chandigarh</a></div><div class="text2">Satvinder Singh <br><a href="">Chandigarh</a></div><div class="text3">Satvinder Singh <br><a href="">Chandigarh</a></div><img src="../../../../assets/dashboard/redmore_yellow.png" alt="birthday" class="image1"></div>
      <div class="para2"><img src="../../../../assets/dashboard/anniversary.png" alt="birthday" class="img-responsive responsive"><div class="bannerHeader2">TODAY'S ANNIVERSARY (2)</div><div class="text4">Satvinder Singh <br><a href="">Chandigarh</a></div><div class="text5">Satvinder Singh <br><a href="">Chandigarh</a></div><img src="../../../../assets/dashboard/readmore_white.png" alt="birthday" class="image2"></div>
    </div>
    <div class="footer-copyright text-center py-3">©2019 Mobile Programming.All Rights Reserved
    </div>
  </div>
</div>
<!--
  <div id="main
  ">
  <div class="heading"><h4>Resource Management System</h4>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/admin_icon.png" alt="admin">
        <div class="caption">ADMIN</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/resource_icon.png" alt="resource">
        <div class="caption">RESOURCE</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/projects_icon.png" alt="projects">
        <div class="caption">PROJECTS</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/report_icon.png" alt="report">
        <div class="caption">REPORT</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/performance_icon.png" alt="performance">
        <div class="caption">PERFORMANCE</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/search_icon.png" alt="search">
        <div class="caption">SEARCH</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/search_resume_icon.png" alt="search resume">
        <div class="caption">SEARCH RESUME</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/archive_icon.png" alt="archive">
        <div class="caption">ARCHIVE</div></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-lg-2">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/user_activity_icon.png" alt="user activity">
        <div class="caption">ACTIVITY</div></span>
      </div>
      <div class="col-lg-2 col-xs-4 col-sm-4">
        <span class="dashboard">
        <img src="../../../../assets/dashboard/settings_icon.png" alt="settings">
        <div class="caption">SETTINGS</div></span>
      </div>

    </div>
    <div class="row justify-content-start">
      <div class="col-xs-12 col-lg-5 banner">
        <img src="../../../../assets/dashboard/birthday.png" alt="birthday" class="responsive"><img src="../../../../assets/dashboard/redmore_yellow.png" alt="birthday" width="30px" class="image1">
    </div>
      <div class="col-xs-12 col-lg-5 banner">
            <img src="../../../../assets/dashboard/anniversary.png" alt="anniversary" class="responsive"><img src="../../../../assets/dashboard/readmore_white.png" alt="birthday" width="30px" class="image1">
        </div>

      </div>
      <div class="footer-copyright text-center py-3">©2019 Mobile Programming.All Rights Reserved
      </div>
  </div>
</div>

-->
